<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<th:block th:insert="~{fragments/header :: header}"></th:block>
		<title>Customers</title>
		<style>
			form {
				margin: auto;
				padding: none;
				border: none;
				background-color: #afc1d2;
			}

			#create-customer-container,
			#customers-header-container {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			#search-button {
				background-color: #477eaf;
				color: white;
				border: none;
			}
		</style>
	</head>

	<body>
		<header class="navbar">
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE', 'CUSTOMER')">
				<a class="btn btn-link" th:href="@{/home}">Home</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('CUSTOMER')">
				<a
					th:href="@{/orders/customer/{customer}(customer = ${customer.id})}"
					class="btn btn-link"
					>My Orders</a
				>
			</section>
			<section sec:authorize="hasAnyAuthority('CUSTOMER')">
				<a
					th:href="@{/customers/edit/{id}(id = ${customer.id})}"
					class="btn btn-link"
					>Edit My Information</a
				>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a class="btn btn-link active" th:href="@{/customers}">Customers</a>
			</section>
			<section class="navbar-section" sec:authorize="hasAnyAuthority('ADMIN')">
				<a class="btn btn-link" th:href="@{/employees}">Employees</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a class="btn btn-link" th:href="@{/orders}">All Orders</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a
					class="btn btn-link"
					th:href="@{/orders/employee/{employee}(employee = ${employee.id})}"
					>My Orders</a
				>
			</section>
			<section class="navbar-section" sec:authorize="isAuthenticated()">
				<a class="btn btn-link" th:href="@{/logout}">Log Out</a>
			</section>
		</header>
		<div class="container pt-2 pb-2">
			<div class="columns">
				<div class="column col-4" id="create-customer-container">
					<a th:href="@{/customers/new}" class="btn btn-lg" id="create-button"
						>Create New Customer</a
					>
				</div>
				<div class="column col-4" id="customers-header-container">
					<h2 class="text-center">Customers</h2>
				</div>
				<div class="column col-4">
					<form method="get" th:action="@{/customers}">
						<div class="input-group input-inline">
							<input
								class="form-input"
								type="text"
								placeholder="Search by Email or Phone"
								th:name="keyword" />
							<button
								type="submit"
								class="btn input-group-btn"
								title="Search By Keyword"
								id="keyword-search-button">
								Search
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="container">
				<div class="columns">
					<div
						class="panel column col-4 col-sm-6 col-md-6"
						th:each="customer : ${customers}"
						id="customer-tile">
						<div class="panel-header">
							<div
								class="panel-title h4"
								th:text="${customer.firstName} + ' ' + ${customer.lastName}"></div>
							<div class="h5" th:text="${customer.id}"></div>
						</div>
						<div class="divider"></div>
						<div class="panel-body">
							<div class="columns">
								<div class="column col-4">Email:</div>
								<div class="column col-8" th:text="${customer.email}"></div>
								<div class="column col-4">Phone:</div>
								<div class="column col-8" th:text="${customer.phone}"></div>
								<div class="column col-4">Address:</div>
								<div class="column col-8" th:text="${customer.address}"></div>
								<div class="column col-4 d-invisible">Placeholder</div>
								<div
									class="column col-8"
									th:text="${customer.city} + ', ' + ${customer.state} + ' ' + ${customer.zipCode}"></div>
								<div class="column col-4">Orders:</div>
								<div
									class="column col-8"
									th:text="${customer.orders.size()}"></div>
							</div>
						</div>
						<div class="panel-footer">
							<a
								class="btn btn-link"
								id="update-button"
								th:href="@{/customers/edit/{id}(id=${customer.id})}"
								>Update <span class="icon icon-edit"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:insert="~{fragments/footer :: footer}"></div>
	</body>
</html>
