<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
		<link rel="stylesheet" th:href="@{/css/styles.css}" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic&display=swap"
			rel="stylesheet" />
		<style>
			.hero-body {
				background-color: #afc1d2;
				color: #e3e3e3;
			}
		</style>
		<title>Customer Orders</title>
	</head>

	<body>
		<header class="navbar">
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE', 'CUSTOMER')">
				<a class="btn btn-link" th:href="@{/home}">Home</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('CUSTOMER')">
				<a
					th:href="@{/orders/customer/{customer}(customer = ${customer.id})}"
					class="btn btn-link active"
					>My Orders</a
				>
			</section>
			<section sec:authorize="hasAnyAuthority('CUSTOMER')">
				<a
					th:href="@{/customers/edit/{id}(id = ${customer.id})}"
					class="btn btn-link"
					>Edit My Information</a
				>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a class="btn btn-link" th:href="@{/customers}">Customers</a>
			</section>
			<section class="navbar-section" sec:authorize="hasAnyAuthority('ADMIN')">
				<a class="btn btn-link" th:href="@{/employees}">Employees</a>
			</section>
			<section class="navbar-section" sec:authorize="hasAnyAuthority('ADMIN')">
				<a class="btn btn-link active" th:href="@{/orders}">All Orders</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a
					class="btn btn-link"
					th:href="@{/orders/employee/{employee}(employee = ${employee.id})}"
					>My Orders</a
				>
			</section>
			<section class="navbar-section">
				<a class="btn btn-link" th:href="@{/logout}">Log Out</a>
			</section>
		</header>
		<div class="container">
			<div class="hero hero-sm">
				<div class="hero-body" th:object="${customer}">
					<div class="columns">
						<div class="column">
							<div
								class="h3 text-uppercase text-center"
								th:text="${customer.firstName} + ' ' + ${customer.lastName}"></div>
							<div class="h4 text-center" th:text="${customer.id}"></div>
						</div>
						<div class="divider-vert"></div>
						<div class="column">
							<dl>
								<dt>Email:</dt>
								<dd th:text="${customer.email}"></dd>
								<dt>Phone:</dt>
								<dd th:text="${customer.phone}"></dd>
								<dt>Address:</dt>
								<dd th:text="${customer.address}"></dd>
								<dd
									th:text="${customer.city} + ', ' + ${customer.state} + ' ' + ${customer.zipCode}"></dd>
							</dl>
						</div>
						<div class="divider-vert"></div>
						<div class="column">
							<dl>
								<dt>Orders:</dt>
								<dd th:text="${customer.orders.size()}"></dd>
								<dt>Grand Total:</dt>
								<dd
									th:object="${total}"
									th:text="${#numbers.formatCurrency(total.doubleValue)}"></dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="columns">
				<div
					class="tile column col-6 col-sm-12 col-md-12 my-2"
					th:each="order : ${ordersByCustomer}">
					<div class="tile-content">
						<div class="columns">
							<div class="column col-3">
								<div
									class="tile-title h5 text-center"
									th:text="${order.id}"></div>
								<div
									class="tile-subtitle text-center"
									th:text="${#dates.format(order.creationDate,'MM-dd-yyyy')}"></div>
							</div>
							<div class="divider-vert"></div>
							<div class="column col-8">
								<div class="columns">
									<div class="column col-4">Employee ID:</div>
									<div
										class="column col-8"
										th:text="${order.employee.id}"></div>
									<div class="column col-4">Product Code:</div>
									<div class="column col-8" th:text="${order.product}"></div>
									<div class="column col-4">Quantity:</div>
									<div class="column col-8" th:text="${order.quantity}"></div>
									<div class="column col-4">Total:</div>
									<div
										class="column col-8"
										th:text="${#numbers.formatCurrency(order.total)}"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:insert="~{footer :: copy}"></div>
	</body>
</html>
