<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<th:block th:insert="~{fragments/header :: header}"></th:block>
		<style>
			.hero-body {
				background-color: #afc1d2;
				color: #e3e3e3;
			}
			#customer-order-tile {
				background-color: #477eaf;
				color: #e3e3e3;
			}
		</style>
		<title
			th:text="'Orders for ' + ${customer.firstName} + ' ' + ${customer.lastName}">
			Customer Orders
		</title>
	</head>

	<body>
		<header class="navbar">
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE', 'CUSTOMER')">
				<a class="btn btn-link" th:href="@{/home}">Home</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('CUSTOMER')">
				<a
					th:href="@{/orders/customer/{customer}(customer = ${customer.id})}"
					class="btn btn-link active"
					>My Orders</a
				>
			</section>
			<section sec:authorize="hasAnyAuthority('CUSTOMER')">
				<a
					th:href="@{/customers/edit/{id}(id = ${customer.id})}"
					class="btn btn-link"
					>Edit My Information</a
				>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a class="btn btn-link" th:href="@{/customers}">Customers</a>
			</section>
			<section class="navbar-section" sec:authorize="hasAnyAuthority('ADMIN')">
				<a class="btn btn-link" th:href="@{/employees}">Employees</a>
			</section>
			<section class="navbar-section" sec:authorize="hasAnyAuthority('ADMIN')">
				<a class="btn btn-link active" th:href="@{/orders}">All Orders</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a
					class="btn btn-link"
					th:href="@{/orders/employee/{employee}(employee = ${employee.id})}"
					>My Orders</a
				>
			</section>
			<section class="navbar-section" sec:authorize="isAuthenticated()">
				<a class="btn btn-link" th:href="@{/logout}">Log Out</a>
			</section>
		</header>
		<div class="container">
			<div class="hero hero-sm">
				<div class="hero-body" th:object="${customer}">
					<div class="columns">
						<div class="column text-center">
							<div
								class="h3 text-uppercase"
								th:text="${customer.firstName} + ' ' + ${customer.lastName}"></div>
							<div class="h4" th:text="${customer.id}"></div>
						</div>
						<div class="divider-vert"></div>
						<div class="column">
							<dl>
								<dt>Email:</dt>
								<dd th:text="${customer.email}"></dd>
								<dt>Phone:</dt>
								<dd th:text="${customer.phone}"></dd>
								<dt>Address:</dt>
								<dd th:text="${customer.address}"></dd>
								<dd
									th:text="${customer.city} + ', ' + ${customer.state} + ' ' + ${customer.zipCode}"></dd>
							</dl>
						</div>
						<div class="divider-vert"></div>
						<div class="column">
							<dl>
								<dt>Orders:</dt>
								<dd th:text="${customer.orders.size()}"></dd>
								<dt>Grand Total:</dt>
								<dd
									th:object="${total}"
									th:text="${#numbers.formatCurrency(total.doubleValue)}"></dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
			<div class="divider m-0 pb-2"></div>
		</div>
		<div class="container" style="background-color: #477eaf">
			<div class="timeline">
				<div
					class="timeline-item"
					id="timeline-item"
					th:each="order : ${ordersByCustomer}">
					<div class="timeline-left">
						<a
							class="timeline-icon"
							href="#timeline-item"
							title="timeline-item"></a>
					</div>
					<div class="timeline-content">
						<div class="tile column col-12 my-2" id="customer-order-tile">
							<div class="tile-content">
								<div class="columns">
									<div class="column col-3 text-center">
										<div class="tile-title h5" th:text="${order.id}"></div>
										<div
											class="tile-subtitle"
											th:text="${#dates.format(order.creationDate,'MM-dd-yyyy : hh:mm a')}"></div>
									</div>
									<div class="divider-vert"></div>
									<div class="column col-8">
										<div class="columns">
											<div class="column col-4">Employee ID:</div>
											<div
												class="column col-8"
												th:text="${order.employee.id}"></div>
											<div class="column col-4">Product:</div>
											<div
												class="column col-8"
												th:text="${order.product}"></div>
											<div class="column col-4">Quantity:</div>
											<div
												class="column col-8"
												th:text="${order.quantity}"></div>
											<div class="column col-4">Total:</div>
											<div
												class="column col-8"
												th:text="${#numbers.formatCurrency(order.total)}"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				...
			</div>
		</div>
		<div th:insert="~{fragments/footer :: footer}"></div>
	</body>
</html>
