<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
		<link rel="stylesheet" th:href="@{/css/styles.css}" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic&display=swap"
			rel="stylesheet" />
		<title>Customer Orders</title>
	</head>

	<body>
		<header class="navbar">
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE', 'CUSTOMER')">
				<a class="btn btn-link" th:href="@{/home}">Home</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('CUSTOMER')">
				<a
					th:href="@{/orders/customer/{customer}(customer = ${customer.id})}"
					class="btn btn-link active"
					>My Orders</a
				>
			</section>
			<section sec:authorize="hasAnyAuthority('CUSTOMER')">
				<a
					th:href="@{/customers/edit/{id}(id = ${customer.id})}"
					class="btn btn-link"
					>Edit My Information</a
				>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a class="btn btn-link" th:href="@{/customers}">Customers</a>
			</section>
			<section class="navbar-section" sec:authorize="hasAnyAuthority('ADMIN')">
				<a class="btn btn-link" th:href="@{/employees}">Employees</a>
			</section>
			<section class="navbar-section" sec:authorize="hasAnyAuthority('ADMIN')">
				<a class="btn btn-link active" th:href="@{/orders}">All Orders</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a
					class="btn btn-link"
					th:href="@{/orders/employee/{employee}(employee = ${employee.id})}"
					>My Orders</a
				>
			</section>
			<section class="navbar-section">
				<a class="btn btn-link" th:href="@{/logout}">Log Out</a>
			</section>
		</header>
		<div class="container-fluid" id="customer-orders">
			<div class="container" th:object="${customer}">
				<div class="row pt-2">
					<div class="col">
						<div class="row invisible">
							<h3>Invisible Placeholder</h3>
						</div>
						<div class="row">
							<h3
								class="align-middle"
								th:text="${customer.firstName} + ' ' + ${customer.lastName}">
								Customer First and Last Name
							</h3>
						</div>
						<div class="row invisible">
							<h3>Invisible Placeholder</h3>
						</div>
					</div>
					<div class="col">
						<ul class="list-unstyled">
							<li th:text="'Customer ID: ' + ${customer.id}">Customer ID</li>
							<li th:text="${customer.phone}">Phone Number</li>
							<li th:text="${customer.email}">Email</li>
							<li
								th:text="${customer.address} + ' ' + ${customer.city} + ', ' + ${customer.state} + ' ' + ${customer.zipCode}">
								Address
							</li>
							<li
								th:object="${total}"
								th:text="'Grand Total: ' + ${#numbers.formatCurrency(total.doubleValue)}">
								Grand Total
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="table-responsive-md" id="orders">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Order ID</th>
							<th scope="col">Creation date</th>
							<th scope="col">Employee ID</th>
							<th scope="col">Product Code</th>
							<th scope="col">Quantity</th>
							<th scope="col">Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="order: ${ordersByCustomer}">
							<td th:text="${order.id}">Order ID</td>
							<td th:text="${#dates.format(order.creationDate,'MM-dd-yyyy')}">
								Creation Date
							</td>
							<td th:text="${order.employee.id}">Employee ID</td>
							<td th:text="${order.product}">Product Code</td>
							<td th:text="${order.quantity}">Quantity</td>
							<td th:text="${#numbers.formatCurrency(order.total)}">Total</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
