<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic&display=swap" rel="stylesheet">
    <title>Customers</title>
</head>

<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="#" class="navbar-brand mr-2">Aguafina</a>
        </section>
        <section class="navbar-section" sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
            <div class="dropdown">
                <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                    Orders
                    <em class="icon icon-caret"></em>
                </a>
                <ul class="menu">
                    <li><a class="btn btn-link" th:href="@{/orders}">All Orders</a></li>
                    <li><a class="btn btn-link" th:href="@{/orders/new}">New Order</a></li>
                </ul>
            </div>
        </section>
        <section class="navbar-section" sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
            <div class="dropdown">
                <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                    Customers
                    <em class="icon icon-caret"></em>
                </a>
                <ul class="menu">
                    <li><a class="btn btn-link" th:href="@{/customers}">All Customers</a></li>
                    <li><a class="btn btn-link" th:href="@{/customers/new}">New Customer</a></li>
                </ul>
            </div>
        </section>
        <section class="navbar-section" sec:authorize="hasAnyAuthority('ADMIN')">
            <a class="btn btn-link" th:href="@{/employees}">Employees</a>
        </section>
        <section class="navbar-section">
            <a class="btn btn-link" th:href="@{/logout}">Log Out</a>
        </section>
    </header>
    <a th:href="@{/customers/new}" class="btn" id="create-button">Create a new customer</a>
    <div id="customers" class="table-responsive-md table-responsive-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.id}"></td>
                    <td th:text="${customer.firstName} + ' ' + ${customer.lastName}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.phone}"></td>
                    <td
                        th:text="${customer.address} + ' ' + ${customer.city} + ', ' + ${customer.state} + ' ' + ${customer.zipCode}">
                    </td>
                    <td>
                        <a th:href="@{/customers/edit/{id}(id=${customer.id})}" class="btn"
                            id="update-button">Update</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>