<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
		<link rel="stylesheet" th:href="@{/css/styles.css}" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic&display=swap"
			rel="stylesheet" />
		<title>Update Customer</title>
	</head>

	<body>
		<header class="navbar">
			<section class="navbar-section">
				<a href="#" class="navbar-brand mr-2">Aguafina</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
				<a class="btn btn-link" th:href="@{/orders}">Orders</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
				<a class="btn btn-link active" th:href="@{/customers}">Customers</a>
			</section>
			<section class="navbar-section" sec:authorize="hasAnyAuthority('ADMIN')">
				<a class="btn btn-link" th:href="@{/employees}">Employees</a>
			</section>
			<section class="navbar-section">
				<a class="btn btn-link" th:href="@{/logout}">Log Out</a>
			</section>
		</header>
		<div id="update-customer-form" class="container">
			<form
				class="form-horizontal px-2"
				th:action="@{/customers/{id}(id=${customer.id})}"
				th:object="${customer}"
				method="POST">
				<h3 th:text="'Update Customer ' + ${customer.id}"></h3>
				<div class="columns">
					<div class="column col-12 py-2">
						<div class="form-group">
							<div class="column col-4">
								<label class="form-label form-inline" for="id"
									>Customer ID:
								</label>
							</div>
							<div class="column col-8">
								<input
									name="id"
									class="form-input"
									type="text"
									th:field="*{id}"
									id="id"
									readonly />
							</div>
						</div>
					</div>
					<div class="column col-12 py-2">
						<div class="form-group">
							<div class="column col-4">
								<label class="form-label form-inline" for="firstName"
									>First Name:
								</label>
							</div>
							<div class="column col-8">
								<input
									name="firstName"
									class="form-input"
									type="text"
									th:field="*{firstName}"
									id="firstName"
									placeholder="First Name" />
							</div>
						</div>
					</div>
					<div class="column col-12 py-2">
						<div class="form-group">
							<div class="column col-4">
								<label class="form-label form-inline" for="lastName"
									>Last Name:</label
								>
							</div>
							<div class="column col-8">
								<input
									name="lastName"
									class="form-input"
									type="text"
									th:field="*{lastName}"
									id="lastName"
									placeholder="Last Name" />
							</div>
						</div>
					</div>
					<div class="column col-12 py-2">
						<div class="form-group">
							<div class="column col-4">
								<label class="form-label" for="email">Email:</label>
							</div>
							<div class="column col-8">
								<input
									name="email"
									class="form-input"
									type="email"
									th:field="*{email}"
									id="email"
									placeholder="Email" />
							</div>
						</div>
					</div>
					<div class="column col-12 py-2">
						<div class="form-group">
							<div class="column col-4">
								<label class="form-label" for="phone">Phone:</label>
							</div>
							<div class="column col-8">
								<input
									name="phone"
									class="form-input"
									type="tel"
									th:field="*{phone}"
									id="phone"
									pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
									placeholder="###-###-####" />
							</div>
						</div>
					</div>
					<div class="column col-12 py-2">
						<div class="form-group">
							<div class="column col-4">
								<label class="form-label" for="address">Address:</label>
							</div>
							<div class="column col-8">
								<input
									name="address"
									class="form-input"
									type="text"
									th:field="*{address}"
									id="address"
									placeholder="Address" />
							</div>
						</div>
					</div>
					<div class="column col-12 py-2">
						<div class="form-group">
							<div class="column col-4">
								<label class="form-label" for="city">City:</label>
							</div>
							<div class="column col-8">
								<input
									name="city"
									class="form-input"
									type="text"
									th:field="*{city}"
									id="city"
									placeholder="City" />
							</div>
						</div>
					</div>
					<div class="column col-12 py-2">
						<div class="form-group">
							<div class="column col-4">
								<label class="form-label" for="state">State:</label>
							</div>
							<div class="column col-8">
								<input
									name="state"
									class="form-input"
									type="text"
									th:field="*{state}"
									id="state"
									placeholder="State" />
							</div>
						</div>
					</div>
					<div class="column col-12 py-2">
						<div class="form-group">
							<div class="column col-4">
								<label class="form-label" for="zipCode">ZIP Code</label>
							</div>
							<div class="column col-8">
								<input
									name="zip"
									class="form-input"
									type="text"
									th:field="*{zipCode}"
									id="zipCode"
									placeholder="ZIP Code" />
							</div>
						</div>
					</div>
					<div class="column py-2">
						<button class="btn" type="submit">Submit</button>
					</div>
				</div>
			</form>
		</div>
		<div th:insert="~{footer :: copy}"></div>
	</body>
</html>
