<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
		<link rel="stylesheet" th:href="@{/css/styles.css}" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic&display=swap"
			rel="stylesheet" />
		<title>Employees</title>
	</head>

	<body>
		<header class="navbar">
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE', 'CUSTOMER')">
				<a class="btn btn-link" th:href="@{/home}">Home</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('CUSTOMER')">
				<a
					th:href="@{/orders/customer/{customer}(customer = ${customer.id})}"
					class="btn btn-link"
					>My Orders</a
				>
			</section>
			<section sec:authorize="hasAnyAuthority('CUSTOMER')">
				<a
					th:href="@{/customers/edit/{id}(id = ${customer.id})}"
					class="btn btn-link"
					>Edit My Information</a
				>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a class="btn btn-link" th:href="@{/customers}">Customers</a>
			</section>
			<section class="navbar-section" sec:authorize="hasAnyAuthority('ADMIN')">
				<a class="btn btn-link active" th:href="@{/employees}">Employees</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a class="btn btn-link" th:href="@{/orders}">All Orders</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a
					class="btn btn-link"
					th:href="@{/orders/employee/{employee}(employee = ${employee.id})}"
					>My Orders</a
				>
			</section>
			<section class="navbar-section">
				<a class="btn btn-link" th:href="@{/logout}">Log Out</a>
			</section>
		</header>
		<div class="container pt-2">
			<div class="columns">
				<div class="column col-4 d-invisible">
					<p>Placeholder Text</p>
				</div>
				<div class="column col-4">
					<h2 class="text-center">Employees</h2>
				</div>
				<div class="column col-4 d-invisible">
					<p>Placeholder Text</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="columns">
				<div
					class="tile column col-6 col-sm-12 col-md-12 my-2"
					th:each="employee : ${employees}">
					<div class="tile-content">
						<div
							class="tile-title h5 text-uppercase text-center"
							th:text="${employee.firstName} + ' ' + ${employee.lastName}"></div>
						<div
							class="tile-subtitle text-center"
							th:text="${employee.id}"></div>
					</div>
					<div class="divider"></div>
					<div class="columns">
						<div class="column col-4">Email:</div>
						<div class="column col-8" th:text="${employee.email}"></div>
						<div class="column col-4">Address:</div>
						<div class="column col-8" th:text="${employee.address}"></div>
						<div class="column col-4 d-invisible">Placeholder</div>
						<div
							class="column col-8"
							th:text="${employee.city} + ', ' + ${employee.state} + ' ' + ${employee.zipCode}"></div>
						<div class="column col-4">Order Count:</div>
						<div class="column col-8" th:text="${employee.orders.size()}"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
