<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<th:block th:insert="~{fragments/header :: header}"></th:block>
		<link rel="stylesheet" th:href="@{/css/orders.css}" />
		<style>
			.hero-body {
				background-color: #afc1d2;
				color: #e3e3e3;
			}

			#employee-order-tile {
				border: #e3e3e3 solid 3px;
				background-color: #477eaf;
				color: #e3e3e3;
			}
			.order-id-date h5,
			.order-id-date p {
				margin: auto;
			}
		</style>
		<title>My Orders</title>
	</head>

	<body>
		<header class="navbar">
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE', 'CUSTOMER')">
				<a class="btn btn-link" th:href="@{/home}">Home</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('CUSTOMER')">
				<a
					th:href="@{/orders/customer/{customer}(customer = ${customer.id})}"
					class="btn btn-link"
					>My Orders</a
				>
			</section>
			<section sec:authorize="hasAnyAuthority('CUSTOMER')">
				<a
					th:href="@{/customers/edit/{id}(id = ${customer.id})}"
					class="btn btn-link"
					>Edit My Information</a
				>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a class="btn btn-link" th:href="@{/customers}">Customers</a>
			</section>
			<section class="navbar-section" sec:authorize="hasAnyAuthority('ADMIN')">
				<a class="btn btn-link" th:href="@{/employees}">Employees</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a class="btn btn-link" th:href="@{/orders}">All Orders</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a
					class="btn btn-link active"
					th:href="@{/orders/employee/{employee}(employee = ${employee.id})}"
					>My Orders</a
				>
			</section>
			<section class="navbar-section" sec:authorize="isAuthenticated()">
				<a class="btn btn-link" th:href="@{/logout}">Log Out</a>
			</section>
		</header>
		<div class="container">
			<div class="hero hero-sm">
				<div class="hero-body" th:object="${employee}">
					<div class="columns">
						<div class="column text-center">
							<div
								class="h3 text-uppercase"
								th:text="${employee.firstName} + ' ' + ${employee.lastName}"></div>
							<div class="h4" th:text="${employee.id}"></div>
							<div
								class="h5"
								th:text="${employee.orders.size()} + ' order(s)'"></div>
							<a class="btn" th:href="@{/orders/new}" id="create-button"
								>Create New Order</a
							>
						</div>
						<div class="divider-vert"></div>
						<div class="column">
							<dl>
								<dt>Email:</dt>
								<dd th:text="${employee.email}"></dd>
								<dt>Address:</dt>
								<dd th:text="${employee.address}"></dd>
								<dd
									th:text="${employee.city} + ', ' + ${employee.state} + ' ' + ${employee.zipCode}"></dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="columns">
				<div
					class="tile column col-6 col-sm-12 col-md-12 my-2"
					th:each="order : ${ordersByEmployee}"
					id="employee-order-tile">
					<div class="tile-content">
						<div class="columns">
							<div class="column col-3 text-center" id="order-id-date">
								<h5
									class="tile-title text-uppercase"
									th:text="'#' + ${order.id}"></h5>
								<p
									class="tile-subtitle"
									th:text="${#dates.format(order.creationDate,'MM-dd-yyyy')}"></p>
							</div>
							<div class="divider-vert"></div>
							<div class="column col-8">
								<div class="columns">
									<div class="column col-4">Customer ID:</div>
									<div
										class="column col-8"
										th:text="${order.customer.id}"></div>
									<div class="column col-4">Product:</div>
									<div class="column col-8" th:text="${order.product}"></div>
									<div class="column col-4">Quantity:</div>
									<div class="column col-8" th:text="${order.quantity}"></div>
									<div class="column col-4">Total:</div>
									<div
										class="column col-8"
										th:text="${#numbers.formatCurrency(order.total)}"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:insert="~{fragments/footer :: footer}"></div>
	</body>
</html>
