<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic&display=swap" rel="stylesheet">
    <title>Employees</title>
</head>

<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="#" class="navbar-brand mr-2">Aguafina</a>
        </section>
        <section class="navbar-section" sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
            <a class="btn btn-link" th:href="@{/orders}">Orders</a>
        </section>
        <section class="navbar-section" sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
            <a class="btn btn-link" th:href="@{/customers}">Customers</a>
        </section>
        <section class="navbar-section" sec:authorize="hasAnyAuthority('ADMIN')">
            <a class="btn btn-link active" th:href="@{/employees}">Employees</a>
        </section>
        <section class="navbar-section">
            <a class="btn btn-link" th:href="@{/logout}">Log Out</a>
        </section>
    </header>
    <div class="container pt-2">
        <div class="columns">
            <div class="column col-4">
                <a th:href="@{/employees/new}" class="btn btn-lg" id="create-button">Create New Employee</a>
            </div>
            <div class="column col-4">
                <h2 class="text-center">Employees</h2>
            </div>
            <div class="column col-4 d-invisible">
                <p>Placeholder Text</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="card column col-4 my-2" th:each="employee : ${employees}">
                <div class="card-header">
                    <div class="card-title h5 text-uppercase text-center"
                        th:text="${employee.firstName} + ' ' + ${employee.lastName}">
                    </div>
                    <div class="card-subtitle text-center" th:text="${employee.id}">
                    </div>
                </div>
                <div class="card-body">
                    <dl>
                        <dt>Email</dt>
                        <dd th:text="${employee.email}"></dd>
                        <dt>Address</dt>
                        <dd
                            th:text="${employee.address} + ' ' + ${employee.city} + ', ' + ${employee.state} + ' ' + ${employee.zipCode}">
                        </dd>
                        <dt>Order Count</dt>
                        <dd th:text="${employee.orders.size()}"></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

</body>

</html>