<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
		<link rel="stylesheet" th:href="@{/css/styles.css}" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic&display=swap"
			rel="stylesheet" />
		<title>None</title>
	</head>
	<body>
		<div class="container" th:fragment="copy">
			<footer>
				<div class="columns">
					<div class="column col-4">
						&copy; 2022 Aguafina Employee/Customer Application
					</div>
					<div class="column col-4">
						Designed and built by
						<a href="https://github.com/kayla-drummonds">Michaela Drummonds</a>,
						2022.
					</div>
					<div class="column col-4">
						Licensed under the
						<a
							href="https://github.com/kayla-drummonds/aguafina-employee-app/blob/master/LICENSE.md"
							>Apache License 2.0</a
						>.
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
