<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<th:block th:insert="~{fragments/header :: header}"></th:block>
		<style>
			.empty {
				background-color: #135c9e;
				color: white;
			}

			.menu-item {
				color: #135c9e;
				background-color: white;
			}
		</style>
		<title>Home</title>
	</head>

	<body>
		<div class="container pt-2">
			<div class="empty">
				<p
					class="empty-title h5"
					th:text="'Welcome, ' + ${user.getEmail()} + '!'"></p>
				<p class="empty-subtitle">
					Please choose one of the following options:
				</p>
				<div class="empty-action">
					<ul class="menu">
						<li
							class="divider"
							data-content="CUSTOMER"
							sec:authorize="hasAnyAuthority('CUSTOMER')"></li>
						<li class="menu-item" sec:authorize="hasAnyAuthority('CUSTOMER')">
							<a
								th:href="@{/orders/customer/{customer}(customer = ${customer.id})}"
								>View My Orders</a
							>
						</li>
						<li class="menu-item" sec:authorize="hasAnyAuthority('CUSTOMER')">
							<a th:href="@{/customers/edit/{id}(id = ${customer.id})}"
								>Edit My Information</a
							>
						</li>
						<li
							class="divider"
							data-content="EMPLOYEE"
							sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')"></li>
						<li
							class="menu-item"
							sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
							<a
								th:href="@{/orders/employee/{employee}(employee = ${employee.id})}"
								>View My Orders</a
							>
						</li>
						<li
							class="menu-item"
							sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
							<a th:href="@{/customers}">View All Customers</a>
						</li>
						<li
							class="menu-item"
							sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
							<a th:href="@{/orders}">View All Orders</a>
						</li>
						<li
							class="divider"
							data-content="ADMIN"
							sec:authorize="hasAnyAuthority('ADMIN')"></li>
						<li class="menu-item" sec:authorize="hasAnyAuthority('ADMIN')">
							<a th:href="@{/employees}">View All Employees</a>
						</li>
						<li class="divider"></li>
						<li class="menu-item" sec:authorization="isAuthenticated()">
							<a th:href="@{/logout}">Log out</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div th:insert="~{fragments/footer :: footer}"></div>
	</body>
</html>
