<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
		<link rel="stylesheet" th:href="@{/css/styles.css}" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic&display=swap"
			rel="stylesheet" />
		<style>
			.empty {
				background-color: #135c9e;
				color: white;
			}

			.empty-action ul li a {
				color: #135c9e;
			}
		</style>
		<title>Home</title>
	</head>

	<body>
		<div class="container">
			<div class="empty">
				<p class="empty-title h5" th:text="'Welcome, ' + ${username} + '!'"></p>
				<p class="empty-subtitle">
					Please choose one of the following options:
				</p>
				<div class="empty-action">
					<ul class="menu">
						<li
							class="divider"
							data-content="CUSTOMER"
							sec:authorize="hasAnyAuthority('CUSTOMER')"></li>
						<li class="menu-item" sec:authorize="hasAnyAuthority('CUSTOMER')">
							<a
								th:href="@{/orders/customer/{customer}(customer = ${customer.id})}"
								>View My Orders</a
							>
						</li>
						<li sec:authorize="hasAnyAuthority('CUSTOMER')">
							<a th:href="@{/customers/edit/{id}(id = ${customer.id})}"
								>Edit My Information</a
							>
						</li>
						<li
							class="divider"
							data-content="EMPLOYEE"
							sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')"></li>
						<li sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
							<a
								th:href="@{/orders/employee/{employee}(employee = ${employee.id})}"
								>View My Orders</a
							>
						</li>
						<li sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
							<a th:href="@{/customers}">View All Customers</a>
						</li>
						<li sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
							<a th:href="@{/orders}">View All Orders</a>
						</li>
						<li
							class="divider"
							data-content="ADMIN"
							sec:authorize="hasAnyAuthority('ADMIN')"></li>
						<li sec:authorize="hasAnyAuthority('ADMIN')">
							<a th:href="@{/employees}">View All Employees</a>
						</li>
						<li class="divider"></li>
						<li sec:authorization="isAuthenticated()">
							<a th:href="@{/logout}">Log out</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div th:insert="~{footer :: copy}"></div>
	</body>
</html>
