<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
		<link rel="stylesheet" th:href="@{/css/styles.css}" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic&display=swap"
			rel="stylesheet" />
		<title>Orders</title>
	</head>

	<body>
		<header class="navbar">
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE', 'CUSTOMER')">
				<a class="btn btn-link" th:href="@{/home}">Home</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('CUSTOMER')">
				<a
					th:href="@{/orders/customer/{customer}(customer = ${customer.id})}"
					class="btn btn-link"
					>My Orders</a
				>
			</section>
			<section sec:authorize="hasAnyAuthority('CUSTOMER')">
				<a
					th:href="@{/customers/edit/{id}(id = ${customer.id})}"
					class="btn btn-link"
					>Edit My Information</a
				>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a class="btn btn-link" th:href="@{/customers}">Customers</a>
			</section>
			<section class="navbar-section" sec:authorize="hasAnyAuthority('ADMIN')">
				<a class="btn btn-link" th:href="@{/employees}">Employees</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a class="btn btn-link active" th:href="@{/orders}">All Orders</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a
					class="btn btn-link"
					th:href="@{/orders/employee/{employee}(employee = ${employee.id})}"
					>My Orders</a
				>
			</section>
			<section class="navbar-section">
				<a class="btn btn-link" th:href="@{/logout}">Log Out</a>
			</section>
		</header>
		<div class="container pt-2 pb-2">
			<div class="columns">
				<div class="column col-4">
					<a class="btn btn-lg" th:href="@{/orders/new}" id="create-button"
						>Create New Order</a
					>
				</div>
				<div class="column col-4">
					<h2 class="text-center">All Orders</h2>
				</div>
				<div class="column col-4">
					<span class="chip"
						><a
							th:href="@{'/orders/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}"
							>Reset</a
						></span
					>
					<span class="chip"
						><a
							th:href="@{'/orders/' + ${currentPage} + '?sortField=employee&sortDir=' + ${reverseSortDir}}"
							>Sort By Employee ID</a
						></span
					>
					<span class="chip"
						><a
							th:href="@{'/orders/' + ${currentPage} + '?sortField=customer&sortDir=' + ${reverseSortDir}}"
							>Sort By Customer ID</a
						></span
					>
				</div>
			</div>
		</div>
		<div class="table-responsive-md" id="orders">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Order ID</th>
						<th scope="col">Creation date</th>
						<th scope="col">Customer ID</th>
						<th scope="col">Employee ID</th>
						<th scope="col">Product</th>
						<th scope="col">Quantity</th>
						<th scope="col">Total</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order: ${orders}">
						<td th:text="${order.id}"></td>
						<td th:text="${#dates.format(order.creationDate,'MM-dd-yyyy')}">
							Creation Date
						</td>
						<td th:text="${order.customer.id}">Customer ID</td>
						<td th:text="${order.employee.id}">Employee ID</td>
						<td th:text="${order.product}">Product</td>
						<td th:text="${order.quantity}">Quantity</td>
						<td th:text="${#numbers.formatCurrency(order.total)}">Total</td>
						<td>
							<a
								th:href="@{/orders/{id}(id=${order.id})}"
								class="btn"
								id="delete-button"
								>Delete</a
							>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br />
		<div class="divider"></div>
		<div th:if="${totalPages > 1}" class="text-center">
			<ul class="pagination">
				<li class="page-item column col-sm-12">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a
							th:if="${currentPage != i}"
							th:href="@{'/orders/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
							>[[${i}]]</a
						>
						<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
					</span>
				</li>
			</ul>
		</div>
		<div th:insert="~{footer :: copy}"></div>
	</body>
</html>
