<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<th:block th:insert="~{fragments/header :: header}"></th:block>
		<link rel="stylesheet" th:href="@{/css/orders.css}" />
		<title>Orders</title>
		<style>
			.chip a {
				color: #135c9eff;
			}
		</style>
	</head>

	<body>
		<header class="navbar">
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE', 'CUSTOMER')">
				<a class="btn btn-link" th:href="@{/home}">Home</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('CUSTOMER')">
				<a
					th:href="@{/orders/customer/{customer}(customer = ${customer.id})}"
					class="btn btn-link"
					>My Orders</a
				>
			</section>
			<section sec:authorize="hasAnyAuthority('CUSTOMER')">
				<a
					th:href="@{/customers/edit/{id}(id = ${customer.id})}"
					class="btn btn-link"
					>Edit My Information</a
				>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a class="btn btn-link" th:href="@{/customers}">Customers</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a class="btn btn-link active" th:href="@{/orders}">All Orders</a>
			</section>
			<section
				class="navbar-section"
				sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">
				<a
					class="btn btn-link"
					th:href="@{/orders/employee/{employee}(employee = ${employee.id})}"
					>My Orders</a
				>
			</section>
			<section class="navbar-section" sec:authorize="isAuthenticated()">
				<a class="btn btn-link" th:href="@{/logout}">Log Out</a>
			</section>
		</header>
		<div class="container py-2" id="orders">
			<div class="columns">
				<div class="column col-4">
					<a
						class="btn btn-link"
						href="customer-options"
						th:href="@{/orders#customer-options}"
						id="create-button"
						>Create New Order</a
					>
					<div class="modal" id="customer-options">
						<a href="#orders" class="modal-overlay" aria-label="close"></a>
						<div class="modal-container">
							<div class="modal-header">
								<a
									href="#orders"
									class="btn btn-clear float-right"
									aria-label="Close"></a>
								<div class="modal-title h5" style="color: #135c9eff">
									Add New Order: Customer Type
								</div>
							</div>
							<div class="modal-body">
								<div class="content">
									<div class="columns text-center">
										<div class="column col-6">
											<a
												class="btn btn-link text-success"
												th:href="@{/customers/new}"
												>New Customer</a
											>
										</div>
										<div class="column col-6">
											<a class="btn btn-link text-gray" th:href="@{/orders/new}"
												>Existing Customer</a
											>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<a href="#orders" class="btn btn-error">Cancel</a>
							</div>
						</div>
					</div>
				</div>
				<div class="column col-4">
					<h2 class="text-center">All Orders</h2>
				</div>
			</div>
		</div>
		<div class="table-responsive-md" id="orders">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Order ID</th>
						<th scope="col">Creation date</th>
						<th scope="col">Customer ID</th>
						<th scope="col">Employee ID</th>
						<th scope="col">Product</th>
						<th scope="col">Quantity</th>
						<th scope="col">Total</th>
						<th scope="col" sec:authorize="hasAnyAuthority('ADMIN')">
							Actions
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="order: ${orders}">
						<td th:text="${order.id}"></td>
						<td
							th:text="${#dates.format(order.creationDate,'MM-dd-yyyy : hh:mm a')}">
							Creation Date
						</td>
						<td th:text="${order.customer.id}">Customer ID</td>
						<td th:text="${order.employee.id}">Employee ID</td>
						<td th:text="${order.product}">Product</td>
						<td th:text="${order.quantity}">Quantity</td>
						<td th:text="${#numbers.formatCurrency(order.total)}">Total</td>
						<td sec:authorize="hasAnyAuthority('ADMIN')">
							<a
								th:href="@{/orders/delete/{id}(id=${order.id})}"
								class="btn"
								id="delete-button"
								>Delete</a
							>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:insert="~{fragments/footer :: footer}"></div>
	</body>
</html>
